div.chartgraph
    #charttitle-container.card
        #chartselection-container
            .charttitlebar
                .bartitle Location:
                select#select-location.select-location.select

            #container-values.charttitlebar
                .bartitle Values:
                #values-options.option-container
                    each desc, key in values
                        button.chartoption.button(id=desc.id, data-values=desc.values)= key

            #timeselectbar.charttitlebar
                .bartitle Time Interval:
                #timeInterval-options.option-container
                    each desc, key in timeIntervals
                        button.chartoption.button(id=desc.id, data-timeinterval=desc.values)= key
                    button.chartoption.button.chartoption#random-timeframe Custom Range

            #container-aggregation.charttitlebar
                .bartitle Aggregation:
                input#input-aggtime.input(type="number", value="10")
                select#select-timeUnit.select
                    option(value='s') Seconds
                    option(value='m',selected='selected') Minutes
                    option(value='h') Hours
                    option(value='d') Day
                    option(value='w') Weeks

    .card
        #chartlegend.chartlegenddiv
        .containerforspinner
            #basicchart.chartdiv
            .spinner
            .splashmessage