.chartgraph
    margin-bottom: 10px
    #charttitle-container
        #chartselection-container
            display: flex
            flex-direction: column
            .charttitlebar
                display: flex
                flex-direction: row
                margin: 4px
                .bartitle
                    margin-top: 9px
                    margin-bottom: auto
                    display: block
                    min-width: 120px
                .select-location
                    margin: 2px
                    width: 240px
                .chartoption
                    margin: 2px
                .option-container
                    display: flex
                    flex-direction: row
                    flex-wrap: wrap

            #container-aggregation
                input
                    width: 60px
                    margin: 2px
                    padding-left: 14px
                    text-align: center
                select
                    margin: 2px

    #chartlegend
        text-align: right
        margin-left: auto
        padding-right: 10px
        min-height: 23px
        .legendlabel
            margin-left: 10px
            font-weight: bold
        .withdata
            width: 90px
            margin-left: 5px
            text-align: left

    .containerforspinner
        width: 100%
        min-width: 378px
        height: calc(100% - 289px)
        min-height: 676px
        padding: 10px
        display: flex
        position: relative
        flex: 0 1 auto
        .chartdiv
            width: 100%
            position: relative

.card
    min-width: 400px
    margin-top: 10px
    margin-left: 10px
    margin-right: 10px
    padding: 10px
    border: 1px solid lightgray
    background-color: white
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.1)


