.chartcard
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    box-shadow: 2px 2px 8px 4px whitesmoke
    #charttitle-container
        //display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        padding: 10px
        //margin-bottom: 10px
        #chartselection-container
            //padding: 10px
            .charttitlebar
                display: flex
                flex-direction: row
                align-items: center
                color: #444
                margin-bottom: 4px
                .bartitle
                    width: 150px
                    margin-left: 10px
                    padding-right: 10px
                select.select-location
                    width: 300px
                .chartoption
                    display: flex
                    align-items: center
                    // box-shadow: inset 0px 0px 1px 1px #FAFAFA
                    padding: 3px
                    padding-left: 10px
                    padding-right: 10px
                    font-weight: 600
                    &:hover
                        cursor: pointer
                        background: lightgray
                        box-shadow: none
                    &.selected
                        background: linear-gradient(to bottom right,#086bc2,#2c9dd1)
                        color: white
                        box-shadow: none
                        border-radius: 2px
                    input
                        &[type='text']
                            font-size: 14px
                            font-family: 'Roboto'
 
                .option-container
                    display: flex
                    border: 1px solid #AAA
                    border-radius: 3px

            #container-aggregation
                input
                    width: 50px
                    height: 28px
                    margin-right: 10px
                    border: 1px solid #AAA
                    text-align: center
                    border-radius: 3px
                select
                    width: 100px
                    height: 28px

    #chartlegend
        display: flex
        flex-direction: row
        text-align: right
        margin-left: auto
        padding-right: 10px
        min-height: 23px
        .legendlabel
            margin-left: 10px
            font-weight: bold
        .withdata
            width: 80px
            margin-left: 5px
            text-align: left

    .containerforspinner
        width: 100%
        height: 100%
        padding: 10px
        display: flex
        position: relative
        .chartdiv
            width: 100%
            height: 100%
            position: relative
            flex: auto

