each grid_props, grid in grids
    - var gridname = grid
    optgroup(label=gridname)
        each location_props, location in grid_props
            - var locationname = location
            option(value=location) #{location}