doctype html5
html
    head
        link(rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png")
        title BSS Netzmonitor
        meta(charset="UTF-8")
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")

        link(href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet")


    body
        #sidebar
            #link-title 
                img(src=require('./assets/bss_small.png'))
                span Netzmonitor
            .sidebar-link#link-map
                i.pe-7s-map.pe-fw
                span Map
            .sidebar-link#link-data
                i.pe-7s-graph1.pe-fw
                span Data
            //- .sidebar-link#link-second Bar Chart
            //- .sidebar-link#link-view-simple Dataview simple
            .sidebar-link#link-status
                i.pe-7s-global.pe-fw
                span Status
        #mainarea
