doctype html5
html
    head
        title BSS Hochspannungstechnik
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")

    body
        #sidebar
            #link-title 
                img(src='bss_small.png')
                span Device
            .sidebar-link#link-first View 1
            .sidebar-link#link-second Averylongtitleforaview
        #mainarea
