.charttitlebar
    #siteselect.chartoption Störzbachstraße 15
    #valueselect.chartoption Voltage
        #valueselect-content.select-content
            span.valueoption THD
    #timeselect.chartoption Today
    #avrgselect.chartoption 10 Minutes
#basicchart.chartdiv