table#statustable
    margin: 10px
    border-collapse: collapse    
    box-shadow: 1px 1px 2px 4px whitesmoke
    // width: 100%
    .statusrow
        // border: 1px solid lightgray
        // border-bottom: 2px solid transparent
        // box-shadow: 1px 1px 2px 4px whitesmoke
        td
            border: 1px solid gray
            margin-right: 10px
            padding: 10px
        .secondssinceupdate
            text-align: right