.tooltip
    font-size: 16px
    color: black
    width: 330px

    .tooltip-title
        font-weight: bold
        margin: auto
    
    .tooltip-cords
        font-size: 12px
        font-style: italic

    .tooltip-subtitle
        font-style: italic

    table
        font-size: 16px
        color: black
        font-family: monospace
        tr
            td
                text-align: right
                white-space: nowrap
                // border: 1px solid gray

                &:first-child
                    text-align: left
                    width: 30px
                &:not(:first-child) 
                    font-weight: 600
                    width: 100px
            
    .timeSinceLastStatus
        font-size: 12px
        text-align: right